h1 {
  background-color: #AFAFAF;
  text-align: center;
}

a {
  color: #FFFFFF
}

body {
  background-color: #525252
}


div.kartu-profil {
  background-color: #858585;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

div.kartu-profil img {
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.navigasi {
  background-color: #CDCDCD;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.navigasi a {
  text-decoration: none;
}

.navigasi .aktif {
  font-weight: bold;
  color: #000000;
}

div.kartu-kontak {
  background-color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
  /* rata Tengah horizonal */
  padding: 10px;
  border-radius: 10px;
  /*sudut kotak tumpul */
  text-align: center;
}

.tombol-medsos {
  /* agar tombol melebar satu baris penuh*/
  display: block;
  padding: 10px;
  /* teks rata Tengah */
  text-align: center;
  text-decoration: none;
  margin: 8px;
  border-radius:12px;
}

.wa {
  background-color: #4AFF83;
}

.github {
  background-color: #333333;
}